#form-body{
  width: 100%;
  /*background-color: pink;*/
}

#form-body .setting{
  margin-bottom: 15px;
}


#form-body span.key{
  display: inline-block;
  width: 160px;
  height: 30px;
  line-height: 30px;
  font-size: 13px;
  opacity: .8;
  /*background-color: beige;*/
}

#form-body span.tip{
  display: inline-block;
  width: 80px;
  padding-left: 10px;
  font-size: 14px;
  opacity: .7;
}

#form-body span.error{
  display: inline-block;
  width: 200px;
  /*height: 33px;*/
  /*line-height: 33px;*/
  font-size: 12px;
  color: #FF3B3B;
}



#form-body input,#form-body select{
  width: 300px;
  height: 30px;
  padding-left: 6px;
  border: 1px solid #CFD0D4;
  margin-bottom: 0;
  border-radius: 4px;
  outline: none;
}

#form-body .buttons{
  padding-left: 120px;
}
