.message{
  width: 380px;
  height: 45px;
  border-radius: 4px;
  line-height: 45px;
  padding-left: 30px;
  margin: 0 auto;
  font-size: 14px;
  position: fixed;
  top: 20px;
  left: calc(50% - 200px);
  transition: opacity linear 1s;
}